.btn-zpay-dark{
    width: 200px;
    height: 40px;
    background: map-get($colors, primary) 0% 0% no-repeat padding-box;
    border: 1px solid map-get($colors, primary);
    text-align: center;
    font: normal normal normal 13px/15px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;

    &:hover{
        background: transparent 0% 0% no-repeat padding-box;
        color: #2E353E;
    }
}

.btn-zpay-light{
    height: 40px;
    width: auto;
    min-width: 150px;
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #0072BC;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/16px Roboto;
    color: #2E353E;
    text-transform: uppercase;

    &:hover{
        background: map-get($colors, primary) 0% 0% no-repeat padding-box;
        color: #FFFFFF;
    }
}
