.content{
    &-wrapper {
        padding: 100px 0;
        background-color: #F7FAFD;

        &-with-bg{
            background-image:url("/images/bg-almostgrey.svg") ;
            background-repeat:no-repeat;
            background-position:bottom;
        }

    }

    &-white{
        background-color: white;
        padding: 50px 0;
    }
}
