
.dropdown-menu-links {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 90px;
    right: 0;
    border-radius: 20px;
    background-color: map-get($colors, white);
    width: auto;
    box-shadow: 0px 0px 10px rgba(map-get($colors, primary), .36);
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    &.opened {
        top: 70px;
        opacity: 1;
        visibility: visible;
        transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    a.text-dropdown{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
        height: 30px;
        white-space:nowrap;
        font-family: $text;
        font-weight: 400;
        font-size: 12px;
        color: map-get($colors, secondary);
        border-bottom: 1px solid map-get($colors, grey);
        &:hover {
            text-decoration: none !important;
            color: map-get($colors, primary);

        }
        &:first-of-type {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        &:last-of-type {
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom: 0;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
