.icon-home{
    width: 70px;
    height: 70px;
    border: 1px solid #0072BB;
    border-radius: 3px;
    padding: 20px 15px;
    background: #F7FAFD 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
