.desktop--menu {
	display: none;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.desktop--menu {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		ul.desktop-menu-ul {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 0 !important;
			padding-left: 0;
            li.desktop-menu-li {
				height: 80px;
				width: auto;
				list-style-type: none;
                position:relative;
                a.desktop-menu-link {
					height: 80px;
					width: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 12px;
					font-family: $text;
					font-weight: 600;
					font-size: 16px;
					color:black;
					text-decoration: none !important;
					&:hover {
						color: black;
					}
				}
                button.desktop-menu-link {
                    height: 40px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 12px;
                    font: normal normal normal 13px/15px Roboto;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    opacity: 1;
                    background: #0072BC 0% 0% no-repeat padding-box;
                    border: 1px solid #0072BC;
                    text-decoration: none !important;
                    &:hover {
                        background: transparent 0% 0% no-repeat padding-box;
                        color: #2E353E;
                    }
                }
				&.current-item {
					a {
						font-weight: 700;
					}
				}
				&:last-of-type {
					a {
						margin-right: 0;
					}
				}
			}
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
	.desktop--menu {
		ul {
			li {
				a {
					font-size: 15px;
					margin: 0 15px;
				}
			}
		}
	}
}
