.mobile--menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -100vw;
	width: 100vw;
	max-width: 320px;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(255,255,255, .41);
	z-index: 9;
	transition: left 500ms cubic-bezier(.645, .045, .355, 1);
	ul {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0;

        .bordered{
            border-bottom: 1px solid rgba(255,255,255, .41);
        }

        .first-level{
            display: flex;
            justify-content: space-between;
            align-items: center;

            >i{
                padding-right: 30px;
            }
        }

		li {
			width: 100%;
			list-style-type: none;
            display: flex;
            flex-direction: column;



			a {
				height: 90px;
				width: auto;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0;
				padding: 0 20px;
				//font-family: $text;
				font-weight: 600;
				font-size: 16px;
				color: black;
				text-decoration: none !important;

			}

            .submenu--mobile{
                margin-left: 30px;

                a{
                    height:30px;
                    margin-bottom:10px;
                }
            }

			&.current-item {
				a {
					font-weight: 700;
				}
			}
			&:last-of-type {
				a {
					border-bottom: 0;
				}
			}
		}
	}
	&.opened {
		left: 0;
		transition: left 500ms cubic-bezier(.645, .045, .355, 1);
	}

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.mobile--menu {
		display: none;
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
