.vertical-slider{

    h4{
        font: normal normal bold 28px/33px Roboto;
    }
    .vertical-slider-title{
        border-left: 7px solid #0072BB;
        opacity: 0.32;
        padding-left: 30px ;
        min-height: 50px;
    }

    .vertical-slider-content{
        border-left: 7px solid #0072BB;
        opacity: 0.32;
        padding-left: 30px ;
        min-height: 150px;

        > p{
            font: normal normal 300 15px/18px Roboto;
            color: #1D2127;
        }

        > .title-header{
            font: normal normal bold 14px/16px Roboto;
            text-transform: uppercase;
        }
    }

    .active{
        opacity:1;
    }
}

.vertical-slider-img{
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/macbook-white.png');
    background-size: cover;
}
