footer {
	background-color: map-get($colors, light-black);
    padding-top: 50px;

	.footer--column {

        height: 100%;
		h6 {
			font-family: $text;
			font-weight: 700;
			font-size: 14px;
			color: map-get($colors, white);
		}
		img {
			width: 100%;
			max-width: 170px;
		}
		a {
			text-decoration: none !important;
			color: map-get($colors, white);
			&.additional-text {
				color: map-get($colors, white);
			}
			i {
				font-size: 24px;
				margin-right: 10px;
			}
			&.current-lang {
				font-weight: 900;
				position: relative;
				&:before {
					font-family: 'Font Awesome 5 Pro';
					font-weight: 900;
					content: '\f061';
					position: absolute;
					top: 50%;
					transform: translatey(-50%);
					left: -20px;
				}
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
