header {
    background-color: white;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #E3E3E3;
    height: 80px;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a[rel="home"] {
            img {
                width: 87px;
                max-width: 167px;
            }
        }
    }
}
.header--wrapper {
    position: relative;
    width: 100%;
    height: 80px;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {
        .header-content {
            a[rel="home"] {
                img {
                    width: 87px;
                    max-width: 130px;
                }
            }
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header {
        .header-content {
            a[rel="home"] {
                img {
                    width: 87px;
                    max-width: 167px;
                }
            }
        }
    }
}
