$colors: (
	// ------------------------------------------------
	// Main Colors
	// ------------------------------------------------
	primary: #0072BC,
	secondary: #F7FAFD,
	// ------------------------------------------------
	// Black - Grey - White
	// ------------------------------------------------
	black: #283036,
	grey: #E0E0E0,
	dark-grey: #bab8b8,
    light-black: #1C2025,
	light-grey: #F7F7F7,
	white: #FFFFFF,
	// ------------------------------------------------
	// Status Colors
	// ------------------------------------------------
	danger: #FF3636,
	success: #4BFF97,
	// warning: #FFD60A,
	info: #587FFF,
	// ------------------------------------------------
	// Other Additional Colors
	// ------------------------------------------------
	dark-blue: #002A8D,
	light-red: #FF4B4B,
)
