.mt{
    &--large{
        margin-top: 100px;
    }

    &--medium{
        margin-top: 50px;
    }

    &--small{
        margin-top: 20px;
    }
}

.mb{
    &--large{
        margin-bottom: 100px;
    }

    &--medium{
        margin-bottom: 50px;
    }

    &--small{
        margin-bottom: 20px;
    }
}

.ml{
    &--large{
        margin-left: 50px;
    }

    &--medium{
        margin-left: 20px;
    }

    &--small{
        margin-left: 10px;
    }
}

.mr{
    &--large{
        margin-right: 50px;
    }

    &--medium{
        margin-right: 20px;
    }

    &--small{
        margin-right: 10px;
    }
}
